body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #F8FAFC;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#app {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-width: 300px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 22;
}

input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
}

#signupbutton {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #625BF7;
  color: #fff;
  border: none;
}

#text {
  color: #625BF7;
  text-align: center;
}

#logoutBtn {
  width: 89%;
  height: 40px;
  border-radius: 5px;
  background-color: #625BF7;
  color: #fff;
  margin-left: 25px;
  border: none;
}

#signupbutton:hover {
  background-color: #4a47bf;
}

#logoutBtn:hover {
  background-color: #4a47bf;
}

.center {
  text-align: center;
}

.success {
  color: #4a47bf;
}

.error {
  color: red;
}

.image-container {
  text-align: center;
}

.image-container img {
  display: block;
  margin: 0 auto;
}

svg {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.svg {
  position: absolute;
  bottom: 0px;
}

/* * {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}
#form-container,
form,
form > input,
form > label,
form > h3 {
  background-color: #fff;
}
#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-inline: auto;
  width: 50vw;
  border-radius: 4px;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.05);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 90%;
  gap: 10px;
}
form > input {
  width: 100%;
  padding: 5px 5px;
  align-self: center;
  border-radius: 6px;
  border: 1px solid #dedede;
}
form > button {
  display: flex;
  color: white;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  background: linear-gradient(180deg, #625bf7 0%, #463eea 100%);
} */
